.header .cover-bg {
  background-image: url("../images/cover.png");
  background-size: cover;
  height: 460px;
  background-position: bottom;
}

.header .logo {
  font-family: 'Roboto Slab', serif;
  font-size: 50px;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.header span {
  background: red;
  display: block;
  height: 10%;
}


.artists_list {
    box-sizing: border-box;
    padding: 10px 30px;
}

.artists_list .artist_item {
    display: block;
    height: 290px;
    background-size: cover!important;
    margin-bottom: 20px;
    position: relative;
}

.artists_list .artist_item div{
    background: #2196F3;
    color: #fff;
    position: absolute;
    bottom: 0;
    padding: 10px;
}

.artists_list h4 {
    text-align: center;
    font-size: 30px;
    font-weight: 100;
    margin: 20px 0px;
}

/* =======================================
                ARTISTS BIO
==========================================*/

.artist_bio{
    box-sizing: border-box;
    padding: 10px 30px;
}
.artist_bio .avatar span {
    width: 130px;
    height: 130px;
    display: block;
    margin: 0 auto;
    background-size: contain !important;
}

.artist_bio h3 {
    font-weight: 100;
    text-align: center;
    font-size: 30px;
    margin: 10px 0px
}

.artist_bio .bio_text {
    font-weight: 100;
    font-size: 14px;
}


.albums_list {
    margin: 20px;
}

.albums_list:after {
    clear: both;
    display: table;
    content:''
}

.albums_list > img {
    float: left;
    width:50%;
}
